body {
  font-family: 'Karla', Arial;
  color: #293264;
  margin: 0;
  background: radial-gradient(circle, white 0%, #4D5B9E 100%);
  height: 100vh;
}

button {
  cursor: pointer;
}

main {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.main-title {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.main-desc {
  font-family: 'Inter', Arial;
  font-size: 1.5rem;
  font-weight: 400;
  margin-top: 0rem;
  margin-bottom: 1rem;
}

.main-button {
  background-color: #4D5B9E;
  border: none;
  color: #F5F7FB;
  font-family: 'Inter', Arial;
  font-size: 1.25rem;
  height: 3rem;
  width: 10rem;
  border-radius: 0.8rem;
  transition: 0.3s;
}

.main-button:hover {
  background-color: #33449a;
  font-size: 1rem;
}

.question {
  text-align: left;
  font-size: 1rem;
}

.button-container {
  display: flex;
  margin-bottom: 1.2rem;
}

.option-button {
  font-size: 0.9rem;
  font-family: 'Inter', Arial;
  margin-right: 1rem;
  padding: 0.5rem 1rem 0.5rem 1rem;
  border-radius: 0.8rem;
}

.unselected-button {
  background-color: #F5F7FB;
  border: 1px solid #4D5B9E;
  color: #293264;
  transition: 0.3s;
}

.active:hover {
  background-color: #4D5B9E;
  color: #F5F7FB;
}

.inactive {
  opacity: 0.5;
  cursor: default;
}

.selected-button {
  background-color: #D6DBF5;
  border: none;
  color: #293264;
  cursor: default;
}

.correct-answer {
  background-color: #94D7A2;
  border: none;
  color: #293264;
  cursor: default;
}

.wrong-answer {
  background-color: #F8BCBC;
  border: none;
  color: #293264;
}

.check-button {
  height: 2.5rem;
  width: 9rem;
  background-color: #4D5B9E;
  border: none;
  color: #D6DBF5;
  border-radius: 0.8rem;
  font-family: 'Inter', Arial;
  font-size: 0.9rem;
  font-weight: 500;
  transition: 0.3s;
}

.check-button:hover {
  background-color: #33449a;
  font-size: 0.8rem;
}

.question-splitter {
  border: 0;
  height: 1px;
  background: #33449a;
}

.finished-game-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
  margin-bottom: 10px;
}

.endgame-message {
  font-family: 'Inter', Arial;
  font-size: 0.9rem;
  margin-right: 20px;
}

.play-again-button {
  background-color: #4D5B9E;
  color: #F5F7FB;
  border: none;
  height: 2.5rem;
  width: 7rem;
  border-radius: 0.6rem;
  font-family: 'Inter', Arial;
  font-size: 0.9rem;
  font-weight: 500;
  transition: 0.3s;
}

.play-again-button:hover {
  background-color: #33449a;
  font-size: 0.8rem;
}