:root {
  --background: #d4dbff;
  --text-color: #293264;
  --button-background: #4D5B9E;
  --button-text: #D6DBF5;
  --hover-background: #33449a;
  --unselected-background: #F5F7FB;
  --unselected-border: #4D5B9E;
  --selected-background: #D6DBF5;
  --correct-background: #94D7A2;
  --wrong-background: #F8BCBC;
  --splitter-background: #33449a;
  --button-padding: 0rem 0 0 4rem;
  --toggle-button-background: #16213E;
}

.dark-mode {
  --background: radial-gradient(circle, #1A1A2E 0%, #16213E 100%);
  --text-color: #E0E0E0;
  --button-background: #0F3460;
  --button-text: #E0E0E0;
  --hover-background: #0F3460;
  --unselected-background: #333333;
  --unselected-border: #555555;
  --selected-background: #555555;
  --correct-background: #28A745;
  --wrong-background: #DC3545;
  --splitter-background: #555555;
  --button-padding: 0rem 4rem 0 0;
  --toggle-button-background: #4D5B9E;
}

body {
  font-family: 'Karla', Arial;
  margin: 0;
  padding: 0;
  height: 100%;
}

button {
  cursor: pointer;
}

main {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background: var(--background);
  color: var(--text-color);
  margin: 0;
}

.main-phone {
  height: 100%;
  display: block;
}

.game-container-phone {
  padding: 7rem 0rem 3rem 0rem;
}

.main-title {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.main-title-phone {
  font-size: 6rem;
  margin-bottom: 3rem;
}

.main-desc {
  font-family: 'Inter', Arial;
  font-size: 1.5rem;
  font-weight: 400;
  margin-top: 0rem;
  margin-bottom: 1rem;
}

.main-desc-phone {
  font-family: 'Inter', Arial;
  font-size: 3rem;
  font-weight: 400;
  margin-top: 0rem;
  margin-bottom: 3rem;
}

.main-button {
  background-color: var(--button-background);
  border: none;
  color: var(--button-text);
  font-family: 'Inter', Arial;
  font-size: 1.25rem;
  height: 3rem;
  width: 10rem;
  border-radius: 0.8rem;
  transition: 0.3s;
}

.main-button-phone {
  background-color: var(--button-background);
  border: none;
  color: var(--button-text);
  font-family: 'Inter', Arial;
  font-size: 2.5rem;
  height: 6rem;
  width: 20rem;
  border-radius: 1.6rem;
  transition: 0.3s;
}

.main-button:hover {
  background-color: var(--hover-background);
  font-size: 1rem;
}

.question-container-phone {
  padding: 0px 3rem 0px 3rem;
}

.question {
  text-align: left;
  font-size: 1rem;
}

.question-phone {
  text-align: left;
  font-size: 2rem;
}

.button-container {
  display: flex;
  margin-bottom: 1.2rem;
}

.button-container-phone {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem 1rem;
  max-width: 100%;
  margin-bottom: 3rem;
}

.option-button {
  font-size: 0.9rem;
  font-family: 'Inter', Arial;
  margin-right: 1rem;
  padding: 0.5rem 1rem 0.5rem 1rem;
  border-radius: 0.8rem;
}

.option-button-phone {
  font-size: 1.8rem;
  font-family: 'Inter', Arial;
  padding: 1rem 2rem 1rem 2rem;
  border-radius: 1.6rem;
}

.unselected-button {
  background-color: var(--unselected-background);
  border: 1px solid var(--unselected-border);
  color: var(--text-color);
  transition: 0.3s;
}

.active:hover {
  background-color: #4D5B9E;
  color: #F5F7FB;
}

.inactive {
  opacity: 0.5;
  cursor: default;
}

.selected-button {
  background-color: var(--selected-background);
  border: none;
  color: var(--text-color);
  cursor: default;
}

.correct-answer {
  background-color: var(--correct-background);
  border: none;
  color: var(--text-color);
  cursor: default;
}

.wrong-answer {
  background-color: var(--wrong-background);
  border: none;
  color: var(--text-color);
}

.check-button {
  height: 2.5rem;
  width: 9rem;
  background-color: var(--button-background);
  border: none;
  color: var(--button-text);
  border-radius: 0.8rem;
  font-family: 'Inter', Arial;
  font-size: 0.9rem;
  font-weight: 500;
  transition: 0.3s;
}

.check-button:hover {
  background-color: #33449a;
  font-size: 0.8rem;
}

.check-button-phone {
  height: 5rem;
  width: 18rem;
  background-color: var(--button-background);
  border: none;
  color: var(--button-text);
  border-radius: 1.6rem;
  font-family: 'Inter', Arial;
  font-size: 1.8rem;
  font-weight: 500;
  transition: 0.3s;
  margin: 2rem 0rem 2rem 0rem;
}

.question-splitter {
  border: 0;
  height: 1px;
  background: var(--splitter-background);
}

.finished-game-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
  margin-bottom: 10px;
}

.endgame-message {
  font-family: 'Inter', Arial;
  font-size: 0.9rem;
  margin-right: 1rem;
}

.endgame-message-phone {
  font-family: 'Inter', Arial;
  font-size: 1.8rem;
  margin: 0rem 2rem 3rem 0rem;
}

.play-again-button {
  background-color: var(--button-background);
  color: var(--button-text);
  border: none;
  height: 2.5rem;
  width: 7rem;
  border-radius: 0.6rem;
  font-family: 'Inter', Arial;
  font-size: 0.9rem;
  font-weight: 500;
  transition: 0.3s;
}

.play-again-button:hover {
  background-color: #33449a;
  font-size: 0.8rem;
}

.play-again-button-phone {
  background-color: var(--button-background);
  color: var(--button-text);
  border: none;
  height: 5rem;
  width: 14rem;
  border-radius: 1.2rem;
  font-family: 'Inter', Arial;
  font-size: 1.6rem;
  font-weight: 500;
  transition: 0.3s;
  margin-bottom: 3rem;
}

.toggle-button {
  position: absolute;
  top: 10px;
  right: 10px;
  display: flex;
  align-items: center;
  background-color: var(--toggle-button-background);
  color: var(--button-text);
  border: none;
  cursor: pointer;
  transition: opacity 0.3s;
  padding: 0 0 0 4rem;
  border-radius: 2rem;
  opacity: 50%;
}

.toggle-button-dark {
  padding: 0 4rem 0 0;
}

.toggle-button:hover,
.toggle-button-dark:hover {
  opacity: 100%;
}

.dark-mode-image {
  width: 3rem;
  height: auto;
}

.toggle-button-phone {
  position: absolute;
  top: 20px;
  right: 20px;
  display: flex;
  align-items: center;
  background-color: var(--toggle-button-background);
  color: var(--button-text);
  border: none;
  cursor: pointer;
  transition: opacity 0.3s;
  padding: 0 0 0 8rem;
  border-radius: 4rem;
  opacity: 50%;
}

.toggle-button-dark-phone {
  padding: 0 8rem 0 0;
}

.dark-mode-image-phone {
  width: 6rem;
  height: auto;
}

@media (max-width: 600px) {
  .button-container-phone {
    grid-template-columns: 1fr; /* Single column for smaller screens */
  }
}